{{#if name '===' 'new-products'}}
    {{> components/chiara/sections/new-products}}
{{/if}}

{{#if name '===' 'top-products'}}
    {{> components/chiara/sections/top-products}}
{{/if}}

{{#if name '===' 'featured-products'}}
    {{> components/chiara/sections/featured-products}}
{{/if}}

{{#if name '===' 'store-offers'}}
    {{> components/chiara/sections/store-offers}}
{{/if}}

{{#if name '===' 'lookbook-banner'}}
    {{> components/chiara/sections/lookbook-banner}}
{{/if}}

{{#if name '===' 'about-banner'}}
    {{> components/chiara/sections/about-banner}}
{{/if}}

{{#if name '===' 'brands-carousel'}}
    {{> components/chiara/sections/brands-carousel}}
{{/if}}

{{#if name '===' 'recent-blog'}}
    {{> components/chiara/sections/recent-blog}}
{{/if}}

{{#if name '===' 'instagram'}}
    {{> components/chiara/sections/instagram}}
{{/if}}

{{#if name '===' 'home-banner1'}}
    {{> components/chiara/banners/banner find="chiara-home-banner1"}}
{{/if}}

{{#if name '===' 'home-banner2'}}
    {{> components/chiara/banners/banner find="chiara-home-banner2"}}
{{/if}}

{{#if name '===' 'home-banner3'}}
    {{> components/chiara/banners/banner find="chiara-home-banner3"}}
{{/if}}

{{#if name '===' 'home-banner4'}}
    {{> components/chiara/banners/banner find="chiara-home-banner4"}}
{{/if}}

{{#if name '===' 'home-banner5'}}
    {{> components/chiara/banners/banner find="chiara-home-banner5"}}
{{/if}}

{{#if name '===' 'categories-list'}}
    {{> components/chiara/sections/categories-list}}
{{/if}}

{{#if name '===' 'products-by-category1'}}
    {{> components/chiara/products-by-category-sorting-tabs/section 
        index=1
        url=theme_settings.pbcst_url1
        position=theme_settings.pbcst_position1
        banner_image_domain=theme_settings.pbcst_bannerImageDomain1
        banner_image_path=theme_settings.pbcst_bannerImagePath1
        banner_heading=theme_settings.pbcst_bannerHeading1
        banner_button=theme_settings.pbcst_bannerButton1
        heading=theme_settings.pbcst_heading1
        limit=theme_settings.pbcst_limit
    }}
{{/if}}

    {{#if name '===' 'products-by-category2'}}
    {{> components/chiara/products-by-category-sorting-tabs/section 
        index=2
        url=theme_settings.pbcst_url2
        position=theme_settings.pbcst_position2
        banner_image_domain=theme_settings.pbcst_bannerImageDomain2
        banner_image_path=theme_settings.pbcst_bannerImagePath2
        banner_heading=theme_settings.pbcst_bannerHeading2
        banner_button=theme_settings.pbcst_bannerButton2
        heading=theme_settings.pbcst_heading2
        limit=theme_settings.pbcst_limit
    }}
{{/if}}

{{#if name '===' 'products-by-category3'}}
    {{> components/chiara/products-by-category-sorting-tabs/section 
        index=3
        url=theme_settings.pbcst_url3
        position=theme_settings.pbcst_position3
        banner_image_domain=theme_settings.pbcst_bannerImageDomain3
        banner_image_path=theme_settings.pbcst_bannerImagePath3
        banner_heading=theme_settings.pbcst_bannerHeading3
        banner_button=theme_settings.pbcst_bannerButton3
        heading=theme_settings.pbcst_heading3
        limit=theme_settings.pbcst_limit
    }}
{{/if}}

{{#if name '===' 'products-by-category4'}}
    {{> components/chiara/products-by-category-sorting-tabs/section 
        index=4
        url=theme_settings.pbcst_url4
        position=theme_settings.pbcst_position4
        banner_image_domain=theme_settings.pbcst_bannerImageDomain4
        banner_image_path=theme_settings.pbcst_bannerImagePath4
        banner_heading=theme_settings.pbcst_bannerHeading4
        banner_button=theme_settings.pbcst_bannerButton4
        heading=theme_settings.pbcst_heading4
        limit=theme_settings.pbcst_limit
    }}
{{/if}}

{{#if name '===' 'products-by-category5'}}
    {{> components/chiara/products-by-category-sorting-tabs/section 
        index=5
        url=theme_settings.pbcst_url5
        position=theme_settings.pbcst_position5
        banner_image_domain=theme_settings.pbcst_bannerImageDomain5
        banner_image_path=theme_settings.pbcst_bannerImagePath5
        banner_heading=theme_settings.pbcst_bannerHeading5
        banner_button=theme_settings.pbcst_bannerButton5
        heading=theme_settings.pbcst_heading5
        limit=theme_settings.pbcst_limit
    }}
{{/if}}

{{#if name '===' 'products-by-category6'}}
    {{> components/chiara/products-by-category-sorting-tabs/section 
        index=6
        url=theme_settings.pbcst_url6
        position=theme_settings.pbcst_position6
        banner_image_domain=theme_settings.pbcst_bannerImageDomain6
        banner_image_path=theme_settings.pbcst_bannerImagePath6
        banner_heading=theme_settings.pbcst_bannerHeading6
        banner_button=theme_settings.pbcst_bannerButton6
        heading=theme_settings.pbcst_heading6
        limit=theme_settings.pbcst_limit
    }}
{{/if}}
