// Color Swatches on Product Card
// ----------------------------------------------------------------------------
.card-figure.loading {
  position: relative;

  &:after {
    content: '';
    background: rgba(255,255,255,0.7) url(../img/loading-18.gif) no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

$value_of_swatch_size : stencilString("card_swatch_option_size");
$position_of_x : str-index($value_of_swatch_size, "x");
$swatch_width : str-slice($value_of_swatch_size, 0, $position_of_x - 1);
$swatch_height : str-slice($value_of_swatch_size, $position_of_x + 1);

.card-text--colorswatches {
  clear: both;
  font-size: 0;
  line-height: 1.6;
  min-height: 40px;
  background: url(../img/loading-40.gif) no-repeat center center;

  &.loaded {
    min-height: 0;
    background: none;
  }
}

.productCard-colorSwatch {
  border-radius: to-length(to-number($swatch_width) / 2 - 1, "px");
  border: container("border");
  text-decoration: none;
  margin: spacing("quarter") 2px;
  display: inline-block;
  overflow: hidden;

  @include breakpoint("medium") {
    border-radius: to-length(to-number($swatch_width) / 2 + 1, "px");
    margin: spacing("quarter");
  }

  img {
    width: $swatch_width+"px";
    height: $swatch_height+"px";
    background: url(../img/loading-18.gif) no-repeat center center;
  }
}

.productCard-colorSwatch-color {
  display: inline-block;
  width: to-length(to-number($swatch_width) - 4, "px");
  height: to-length(to-number($swatch_height) - 4, "px");
  vertical-align: middle;

  @include breakpoint("medium") {
    width: $swatch_width+"px";
    height: $swatch_height+"px";
  }
}
