{{! 
    THIS FILE ALLOWS TO ADD YOUR OWN CUSTOMIZED CONTENT TO THE THEME WITHOUT
    EDITING OTHER THEME FILES. ALLOW YOU EASILY TO MIGRATE YOUR CUSTOMIZATION
    WHEN UPGRADING THE THEME. JUST COPY THIS FILE TO THE NEW UPDATED THEME.
    WE STRONGLY RECOMMEND YOU ONLY EDIT THIS FILE AND LET ALL OTHER THEME FILES
    UNCHANGED FOR FUTURE THEME UPGRADE.

    PLEASE READ MORE DETAILED INSTRUCTION BELOW.

    ###########################################################################
    ###########################################################################
}}

{{! 
    HOME PAGE - STORE OFFERS
    ===========================================================================
    - Overwrite the sample block *Store Offers* on the home page by your own
      content.
    - Please read instruction below.
    ===========================================================================
}}

{{#if false}}{{! ########## DELETE THIS LINE (OR ADD ! BEFORE #if) TO OVERWRITE THE BLOCK BY YOUR CUSTOMIZED CONTENT ########## }}

{{#partial "chiara-store-offers"}}
<div class="chiara-section chiara-section--storeOffers">
    <ul class="chiara-storeOffers">
        <li class="chiara-storeOffers-item">
            <div class="chiara-storeOffers-img demo"><svg><use xlink:href="#icon-chiara-free-shipping" /></svg></div>
            <div class="chiara-storeOffers-content">
                <h5 class="chiara-storeOffers-title">Free Shipping</h5>
                <p class="chiara-storeOffers-text">Pariatur necessitatibus distin.</p>
            </div>
        </li>
        <li class="chiara-storeOffers-item">
            <div class="chiara-storeOffers-img demo"><svg><use xlink:href="#icon-chiara-secure-payment" /></svg></div>
            <div class="chiara-storeOffers-content">
                <h5 class="chiara-storeOffers-title">Secure Payment</h5>
                <p class="chiara-storeOffers-text">Id dolores dolorum tempore.</p>
            </div>
        </li>
        <li class="chiara-storeOffers-item">
            <div class="chiara-storeOffers-img demo"><svg><use xlink:href="#icon-chiara-warranty" /></svg></div>
            <div class="chiara-storeOffers-content">
                <h5 class="chiara-storeOffers-title">2 Year Warranty</h5>
                <p class="chiara-storeOffers-text">Quisquam voluptatibus.</p>
            </div>
        </li>
        <li class="chiara-storeOffers-item">
            <div class="chiara-storeOffers-img demo"><svg><use xlink:href="#icon-chiara-money-back" /></svg></div>
            <div class="chiara-storeOffers-content">
                <h5 class="chiara-storeOffers-title">30 Days Money Back</h5>
                <p class="chiara-storeOffers-text">Nobis voluptas qui fuga.</p>
            </div>
        </li>
    </ul>
</div>
{{/partial}}

{{/if}}{{! ########## DELETE THIS LINE (OR ADD ! BEFORE #if) TO OVERWRITE THE BLOCK BY YOUR CUSTOMIZED ########## }}



{{! 
    HOME PAGE - LOOKBOOK BANNER
    ===========================================================================
    - Overwrite the sample block *Lookbook Banner* on the home page by your own
      content.
    - Please read instruction below.
    ===========================================================================
}}

{{#if false}}{{! ########## DELETE THIS LINE (OR ADD ! BEFORE #if) TO OVERWRITE THE BLOCK BY YOUR CUSTOMIZED CONTENT ########## }}

{{#partial "chiara-lookbook-banner"}}
<div class="chiara-section chiara-section--lookbookBanner">
    <div class="chiara-lookbookBanner">
        <div class="chiara-lookbookBanner-img"><a href="#"><img class="lazyload" data-sizes="auto" width="975" height="532" src="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/banner01-low.jpg" data-src="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/banner01.jpg" alt="Summer Lookbook" /></a></div>
        <div class="chiara-lookbookBanner-content">
            <p><img class="lazyload" data-sizes="auto" width="420" height="64" src="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/banner02-low.png" data-src="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/banner02.png" alt="26 february 2018" /></p>
            <h5 class="chiara-lookbookBanner-title">Summer<br/>Lookbook</h5>
            <p>Spring S'18 Collection</p>
            <p class="chiara-lookbookBanner-button"><a class="button button--large" href="#">View Now &nbsp;<i class="fas fa-chevron-right"></i></a></p>
        </div>
    </div>
</div>
{{/partial}}

{{/if}}{{! ########## DELETE THIS LINE (OR ADD ! BEFORE #if) TO OVERWRITE THE BLOCK BY YOUR CUSTOMIZED ########## }}



{{! 
    HOME PAGE - ABOUT BANNER
    ===========================================================================
    - Overwrite the sample block *About Banner* on the home page by your own
      content.
    - Please read instruction below.
    ===========================================================================
}}

{{#if false}}{{! ########## DELETE THIS LINE (OR ADD ! BEFORE #if) TO OVERWRITE THE BLOCK BY YOUR CUSTOMIZED CONTENT ########## }}

{{#partial "chiara-about-banner"}}
<div class="chiara-section chiara-section--aboutBanner">
    <div class="chiara-aboutBanner">
        <div class="chiara-aboutBanner-img"><a href="#"><img class="lazyload" data-sizes="auto" width="1600" height="960" src="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/banner05-low.jpg" data-src="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/banner05.jpg" alt="About Us" /></a></div>
        <div class="chiara-aboutBanner-content">
            <h5 class="chiara-aboutBanner-title">365 Fashionista Design is the famous brand in Ho Chi Minh City</h5>
            <div class="chiara-aboutBanner-text">
                <p><strong>CEO Adam York</strong></p>
                <p>The Adam journey began in 2001 as a lingerie boutique in Ho Chi Minh City, Viet Nam... </p>
            </div>
        </div>
    </div>
</div>
{{/partial}}

{{/if}}{{! ########## DELETE THIS LINE (OR ADD ! BEFORE #if) TO OVERWRITE THE BLOCK BY YOUR CUSTOMIZED ########## }}




{{! 
    HOME PAGE - BRANDS CAROUSEL
    ===========================================================================
    - Overwrite the sample block *Brands Carousel* on the home page by your own
      content.
    - Please read instruction below.
    ===========================================================================
}}

{{#if false}}{{! ########## DELETE THIS LINE (OR ADD ! BEFORE #if) TO OVERWRITE THE BLOCK BY YOUR CUSTOMIZED CONTENT ########## }}

{{#partial "chiara-brands-carousel"}}
<div class="chiara-section chiara-section--brandsCarousel">
    <div class="chiara-brandsCarousel">
        <ul class="chiara-brandsCarousel-slider" data-slick='{
            "arrows": true,
            "mobileFirst": true,
            "slidesToScroll": 1,
            "autoplay": true,
            "autoplaySpeed": 1000,
            "lazyLoad": "progressive",
            "centerMode": true,
            "variableWidth": true
        }'>
            <li class="chiara-brandsCarousel-item"><a href="#"><img width="220" height="100" src="{{cdn 'img/loading.svg'}}" data-lazy="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/brand01.png" alt="brand01"></a></li>
            <li class="chiara-brandsCarousel-item"><a href="#"><img width="220" height="100" src="{{cdn 'img/loading.svg'}}" data-lazy="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/brand02.png" alt="brand02"></a></li>
            <li class="chiara-brandsCarousel-item"><a href="#"><img width="220" height="100" src="{{cdn 'img/loading.svg'}}" data-lazy="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/brand03.png" alt="brand03"></a></li>
            <li class="chiara-brandsCarousel-item"><a href="#"><img width="220" height="100" src="{{cdn 'img/loading.svg'}}" data-lazy="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/brand04.png" alt="brand04"></a></li>
            <li class="chiara-brandsCarousel-item"><a href="#"><img width="220" height="100" src="{{cdn 'img/loading.svg'}}" data-lazy="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/brand05.png" alt="brand05"></a></li>
            <li class="chiara-brandsCarousel-item"><a href="#"><img width="220" height="100" src="{{cdn 'img/loading.svg'}}" data-lazy="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/brand01.png" alt="brand06"></a></li>
            <li class="chiara-brandsCarousel-item"><a href="#"><img width="220" height="100" src="{{cdn 'img/loading.svg'}}" data-lazy="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/brand02.png" alt="brand07"></a></li>
            <li class="chiara-brandsCarousel-item"><a href="#"><img width="220" height="100" src="{{cdn 'img/loading.svg'}}" data-lazy="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/brand03.png" alt="brand08"></a></li>
            <li class="chiara-brandsCarousel-item"><a href="#"><img width="220" height="100" src="{{cdn 'img/loading.svg'}}" data-lazy="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/brand04.png" alt="brand09"></a></li>
            <li class="chiara-brandsCarousel-item"><a href="#"><img width="220" height="100" src="{{cdn 'img/loading.svg'}}" data-lazy="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/brand05.png" alt="brand10"></a></li>
        </ul>
    </div>
</div>
{{/partial}}


{{/if}}{{! ########## DELETE THIS LINE (OR ADD ! BEFORE #if) TO OVERWRITE THE BLOCK BY YOUR CUSTOMIZED ########## }}






{{! 
    FOOTER MAIN CONTENT
    ===========================================================================
    - Overwrite the sample block *Footer Main Content* on the home page by 
      your own content.
    - Please read instruction below.
    ===========================================================================
}}

{{#if false}}{{! ########## DELETE THIS LINE (OR ADD ! BEFORE #if) TO OVERWRITE THE BLOCK BY YOUR CUSTOMIZED CONTENT ########## }}

{{#partial "chiara-footer-info"}}
<section class="footer-info">
    <article class="footer-info-col" data-section-type="footer-webPages">
        <p>{{> components/common/store-logo}}</p>
        <p>Ut consequatur quibusdam error. Laboriosam quia neque dolores facere ut sunt voluptatem eius qui.</p>
        <ul class="footer-info-col-contactList">
            {{#if settings.address}}
            <li><strong>A</strong> <address>{{settings.address}}</address></li>
            {{/if}}
            {{#if settings.phone_number}}
            <li><strong>T</strong> <a href="tel:{{settings.phone_number}}">{{settings.phone_number}}</a></li>
            {{/if}}
            <li><strong>E</strong> <a href="mailto:contact@example.com">contact@example.com</a></li>
        </ul>
        {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
            {{> components/common/social-links}}
        {{/if}}
    </article>

    <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
        <h5 class="footer-info-heading">Opening Time</h5>
        <ul class="footer-info-list">
            <li>Mon - Fri: 8AM - 19PM</li>
            <li>Sat: 8AM - 17PM</li>
            <li>Sun: Closed</li>
            <li>We Work All The Holidays</li>
        </ul>
    </article>

    <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
        <h5 class="footer-info-heading">About</h5>
        <ul class="footer-info-list footer-info-list--links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Shopping Guide</a></li>
            <li><a href="#">Delivery Information</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Our Store</a></li>
        </ul>
    </article>

    <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
        <h5 class="footer-info-heading">Account</h5>
        <ul class="footer-info-list footer-info-list--links">
            <li><a href="#">My Account</a></li>
            <li><a href="#">Wishlist</a></li>
            <li><a href="#">Order Tracking</a></li>
            <li><a href="#">Shipping Info</a></li>
            <li><a href="#">Return Policy</a></li>
        </ul>
    </article>
</section>
{{/partial}}

{{/if}}{{! ########## DELETE THIS LINE (OR ADD ! BEFORE #if) TO OVERWRITE THE BLOCK BY YOUR CUSTOMIZED ########## }}




{{! 
    SIDEBAR CATEGORY BANNER 1
    ===========================================================================
    - Overwrite the sample block *Sidebar Category Banner 1* on the home page by 
      your own content.
    - Please read instruction below.
    ===========================================================================
}}

{{#if false}}{{! ########## DELETE THIS LINE (OR ADD ! BEFORE #if) TO OVERWRITE THE BLOCK BY YOUR CUSTOMIZED CONTENT ########## }}

{{#partial "chiara-sidebar-category-banner1"}}
<p><a href="#"><img src="https://placehold.it/302x302" alt="302x302"></a></p>
{{/partial}}

{{/if}}{{! ########## DELETE THIS LINE (OR ADD ! BEFORE #if) TO OVERWRITE THE BLOCK BY YOUR CUSTOMIZED ########## }}





{{! 
    SIDEBAR CATEGORY BANNER 2
    ===========================================================================
    - Overwrite the sample block *Sidebar Category Banner 2* on the home page by 
      your own content.
    - Please read instruction below.
    ===========================================================================
}}

{{#if false}}{{! ########## DELETE THIS LINE (OR ADD ! BEFORE #if) TO OVERWRITE THE BLOCK BY YOUR CUSTOMIZED CONTENT ########## }}

{{#partial "chiara-sidebar-category-banner2"}}
<p><a href="#"><img src="https://placehold.it/302x500" alt="302x500"></a></p>
{{/partial}}

{{/if}}{{! ########## DELETE THIS LINE (OR ADD ! BEFORE #if) TO OVERWRITE THE BLOCK BY YOUR CUSTOMIZED ########## }}






{{! 
    SIDEBAR BRAND BANNER 1
    ===========================================================================
    - Overwrite the sample block *Sidebar Brand Banner 1* on the home page by 
      your own content.
    - Please read instruction below.
    ===========================================================================
}}

{{#if false}}{{! ########## DELETE THIS LINE (OR ADD ! BEFORE #if) TO OVERWRITE THE BLOCK BY YOUR CUSTOMIZED CONTENT ########## }}

{{#partial "chiara-sidebar-brand-banner1"}}
<p><a href="#"><img src="https://placehold.it/302x302" alt="302x302"></a></p>
{{/partial}}

{{/if}}{{! ########## DELETE THIS LINE (OR ADD ! BEFORE #if) TO OVERWRITE THE BLOCK BY YOUR CUSTOMIZED ########## }}





{{! 
    SIDEBAR BRAND BANNER 2
    ===========================================================================
    - Overwrite the sample block *Sidebar Brand Banner 2* on the home page by 
      your own content.
    - Please read instruction below.
    ===========================================================================
}}

{{#if false}}{{! ########## DELETE THIS LINE (OR ADD ! BEFORE #if) TO OVERWRITE THE BLOCK BY YOUR CUSTOMIZED CONTENT ########## }}

{{#partial "chiara-sidebar-brand-banner2"}}
<p><a href="#"><img src="https://placehold.it/302x500" alt="302x500"></a></p>
{{/partial}}

{{/if}}{{! ########## DELETE THIS LINE (OR ADD ! BEFORE #if) TO OVERWRITE THE BLOCK BY YOUR CUSTOMIZED ########## }}

